body{
    background-image: url('https://media.licdn.com/dms/image/D4E34AQE_tU0BC9gXHA/ugc-proxy-shrink_800/0/1686315901577?e=1692651600&v=beta&t=rYGPSBE_PPq_RLO--QjHPtnclV_UGmYn7f8g_bnJ0to');
    background-size: cover;
    background-repeat: no-repeat;
}
.col-12{
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.form-container{
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 18px 6px lightgray;
    width: 40%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading{
    font-size: 2rem;
    font-weight: 700;
}

.form-container>form{
    width: 90%;
}
.form-container>form>input{
    border-radius: 0;
    border: none;
    border-bottom: 2px solid gray;
    color: gray;
}

#btnSubmit{
    color: white;
    border-radius: 20px;
    width: 100%;
}